body{
    background-color: rgb(13, 12, 12);
    margin: 0;
}

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0 10rem;
    .results-container{
        width: 100%;
        border-left: solid 2px #252b30;
        border-right: solid 2px #252b30;
        .gif-results{
            width: 100%;
            overflow: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-start;
            justify-content: center;
            .gif-card{
                transition: 1s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;
                .overlay{
                    opacity: 0;
                    position: absolute;
                    h2{
                        color:white;
                        font-size: 14px;
                    }
                };
                img{
                padding: 1rem;
                width: 65%;
                height: auto;
                }
                &:hover .overlay{
                    opacity: 1;
                }
                &:hover img{
                    opacity: 0.2;
                }
            }
        }
        #show-more-btn{
            padding: .2rem;
            margin: 1.2rem;
            font-weight: 500;
        }
    }
    .search-form{
        width: 100%;
        border-left: solid 2px #252b30;
        border-right: solid 2px #252b30;
        h1{
            color:white;
            font-weight: 800;
            margin: 0;
            padding: 1rem;
        }
        .search-bar{
            padding-bottom: 1rem;
        }
    }
}